@charset "UTF-8";

@font-face {
  font-family: "Lato-Light-subfont";
  src: url("Lato-Light-subfont.woff2") format("woff2"),
       url("Lato-Light-subfont.woff") format("woff"),
       url("Lato-Light-subfont.ttf") format("truetype"),
       url("Lato-Light-subfont.eot") format("embedded-opentype"),
       url("Lato-Light-subfont.svg") format("svg"),
       url("Lato-Light-subfont.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}